{% extends "_layouts/site" %}

{% block content %}
{#    Header#}
    {% set image =  entry.heroImage.one() %}
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url({{ image.url }});">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <h1>{{ entry.heroTitle }}</h1>
                        <p class="lead">{{entry.heroSubtitle}} </p>
                        <p><a href="#" class="btn btn-primary">{{entry.heroButton}}</a></p>
                    </div>


                </div>
            </div>
        </div>
    </section>

{#    about us #}
    {% set aboutimage =  entry.aboutImage.one() %}
    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    {{ entry.aboutTitle }}
                </div>
            </div>

            <div class="row mb-5 align-items-center">
                <div class="col-md-6 overflow order-1">
                    <img src="{{ aboutimage.url }}" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 order-2"></div>
                <div class="col-md-5 order-3">
                    {{ entry.aboutIntro }}
                </div>

            </div>


        </div>
    </section>

{#    Mediums#}
    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                   {{ entry.mediumsIntro }}
                </div>
            </div>
            <section class="school-features text-dark d-flex">
                <div class="inner">
                    {% for medium in entry.mediums%}

                        {% set avatar = medium.image.one() %}
                        {% set cropSettings = {
                            mode: 'crop',
                            width: 250,
                            height: 250,
                            quality: 80
                        } %}

                        <div class="media d-block feature text-center">
                            <img src="{{ avatar.getUrl(cropSettings) }}" alt="Image placeholder" class="mb-3">
                            <div class="media-body">
                                <h3 class="mt-0">{{ medium.fullName }}</h3>
                                <p>{{medium.description}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </section>

{#    socials#}
    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url({{ siteUrl }}assets/images/big_image_3.jpg);">
        <div class="container">
            <div class="row justify-content-center align-items-center intro">
                <div class="col-md-7 text-center element-animate">
                   {{ entry.socialsIntro }}
                    <div class="row top-course">
                        {% for social in entry.socials%}

                        {% set thumbnail = social.socialImage.one() %}


                        {% set cropSettings = {
                            mode: 'crop',
                            width: 250,
                            height: 250,
                            quality: 80
                        } %}
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <a href="{{ social.socialLink }}" class="course">
                                <img src="{{ thumbnail.getUrl(cropSettings) }}" alt="Image placeholder">
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </section>

{#    Assigments#}
    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Assigments</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
                </div>
            </div>
            <div class="row top-course">
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="course-single.html" class="course">
                        <img src="images/webdesign.jpg" alt="Image placeholder">
                        <h2>Web Design 101</h2>
                        <p>Enroll Now</p>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="course-single.html" class="course">
                        <img src="images/wordpress.jpg" alt="Image placeholder">
                        <h2>Learn How To Develop WordPress Plugin</h2>
                        <p>Enroll Now</p>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-12">
                    <a href="course-single.html" class="course">
                        <img src="images/javascript.jpg" alt="Image placeholder">
                        <h2>JavaScript 101</h2>
                        <p>Enroll Now</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
{% endblock %}