{% extends "_layouts/base" %}

{% block body %}
    <body>
        <header role="banner" class="bg-dark">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand absolute" href="{{ siteUrl }}">Paranormax</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                        <ul class="navbar-nav mx-auto">
                            {%  set menuItem = header.menu.all() %}
                            {% for item in menuItem %}
                                {% set destination = item.destination.one() %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ destination.url }}">{{ item.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="navbar-nav absolute-right">
                            <li class="nav-item">
                                {% if currentUser %}
                                <a href="{{ siteUrl }}user" class="nav-link">{{ currentUser.username }}</a>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ siteUrl }}login/index" class="nav-link">Login</a>
                                    </li>
                                {% endif %}
                            </li>
                            {% if currentUser %}
                                <li class="nav-item">
                                        <a href="{{ logoutUrl }}" class="nav-link">log out</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ siteUrl }}vip" class="nav-link">VIP </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ siteUrl }}register/index" class="nav-link">Register</a>
                                </li>
                            {% endif %}
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </header>

        {% block content %} {% endblock %}
        <footer class="site-footer" style="background-image: url({{ siteUrl }}assets/images/big_image_3.jpg);">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4">
                      {{ footer.privacyPolicy }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ footer.disclaimer|raw }}</p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- END footer -->

        <!-- scripts loader -->
        <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

        <script src="{{ siteUrl }}assets/js/jquery-3.2.1.min.js"></script>
        <script src="{{ siteUrl }}assets/js/jquery-migrate-3.0.0.js"></script>
        <script src="{{ siteUrl }}assets/js/popper.min.js"></script>
        <script src="{{ siteUrl }}assets/js/bootstrap.min.js"></script>
        <script src="{{ siteUrl }}assets/js/owl.carousel.min.js"></script>
        <script src="{{ siteUrl }}assets/js/jquery.waypoints.min.js"></script>
        <script src="{{ siteUrl }}assets/js/jquery.stellar.min.js"></script>

        <script src="{{ siteUrl }}assets/js/main.js"></script>

    </body>
{% endblock %}